<!DOCTYPE html>
<html lang="en">
<head>
<title>FOOOOOOOOOD</title>
</head>

body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "header header"
                         "intro     faq"
                         "articles  faq"
                         "footer footer";
    grid-column-gap: 15px;
}

body > header {
    grid-row: 1;
    grid-column: 1/-1;
    
}

body > article {grid-area: intro;}
body >aside {grid-area: faq;}
body > section {grid-area: articles;}
body >footer {grid-area: footer;}

/*grid styles for nested grid*/

section {
    display: grid;
    grid-template-columns: repeat (2,1fr);
}
section {
    grid-area: 1/1/2/3;
}

nav  {
    margin-left: auto;
    margin-right: auto;
    background: orange;
    display: block;
    padding: 6px;
    max-width:800px;
    height: auto;
    clear: left;
    
    
}

