<!DOCTYPE html>
<html lang="en">
<head>
<title>main</title>

</head>

section {
    
    background: #B5FFF8;
    box-shadow: 0 2px rgba(5, 10, 10, 10.06);
    color: #403F3F;
    font-family: "Helvetica Neue", serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    
    
    
    
    
    
    
    
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;

}


nav  {
    background: #E0FFFC;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}



header {
    background: #7FFFD4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "times new roman", Helvetica, Arial, sans-serif;
    font-size: 35px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 1em 1em 1em;
}


h1 {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "times new roman", Helvetica, Arial, sans-serif;
    font-size: 35px;
    line-height: 1.5;
    margin: 0px auto;
    max-height: 400px;
    max-width: 800px;
    padding: 0em 0em 0em;
}



footer {
    background: #E0FFFC;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "times new roman", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0px auto;
    max-height: 400px;
    max-width: 800px;
    padding: 0em 0em 0em;
}




a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}